
.color-nav{
    background-color:#fec608;
    
  }
.navText{
    color: black!important;
}

.backgr{
  background-color: black;
  padding-top: 80px;
  padding-bottom: 30px;
  
}

.bioData{
  background-color: white;
  padding: 30px;
}

#homeImage{
  padding:5px;
  /* border: 3px solid #204c55; */
  border-radius: 20px;
  text-align: center;
  height: 420px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.myself{
  padding-left:50px!important;
}

.myself h4{
  color:#666666;
}

.myself p{
  color:#949494;
}

.myName{
  color: #fec608;
}

.personal-info ul{
  display: inline-block;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.personal-info li a{
  font-size: 15px;
  line-height: 26px;
  color: #949494;
}

.iconStyle{
  padding-top: 20px;
  text-align: center;
  
}

.iconStyle span{
  padding-right: 20px;
}
.download_btn{
  display: block;
  margin-top: 20px;
  background: #fec608;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    color: #222222;
    font-size: 18px;
    font-family: "Yellowtail", cursive;
    position: relative;
    overflow: hidden;
}

.download_btn span {
  display: inline-block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
  transition: all 400ms linear 0s;
}

/* .skill{
  background-color: #efefef;
  margin:0;
  padding-bottom: 30px;
  margin-left: 105px;
} */

#skill{
  background-color: #efefef;
}


.skill-head-text h2{
  text-align: center;
  font-size: 36px;
  font-family: "Bree Serif", serif;
  color: #222222;
  text-transform: uppercase;
  margin-top: 60px;

}

#skill-info{
  padding-left: 40px;
  padding-top: 30px;
}

#skill-info h4 {
  font-family: "Raleway",sans-serif;
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 25px;
}

#skill-info p {
  font-size: 13px;
  line-height: 24px;
  font-family: "Raleway",sans-serif;
  color: #333;
}
.single-skill{
  height: 80px;
}

.single-skill h5 {
  font-size: 16px;
  color: #333;
  font-family: "Raleway",sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  
}

.progress-bar {
  background-color: #fec608!important;
 
}

.edu{
  background-color: white;
  padding-left: 40px!important;
  padding-bottom: 30px;
}

.edu-info{
  padding-top: 30px;;
}

.btnCv{
  padding-bottom: 40px;
}
.Spinner{
  text-align: center;
}
.load{
  text-align: center;
  padding: 100px;
}

.footer-text{
  text-align: center;
}

.navText{
  padding-right: 30px;
  font-weight: 1000;
  font-style: none;
}

.navText:hover{
  color: white!important;
}

.contact-info{
  padding:30px 0px 30px 0px;
}

.left-contact-detail p{
    font-size: 14px;
    color: #666666;
    line-height: 24px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 801px) {
   .myself{
     margin-top: 60px;
   }

   .edu-card{
     margin-top: 30px;
     text-align: center!important;
   }
   .edu-info card{
    text-align: center!important;
   }
}

@media only screen and (max-width: 500px) {
  .navText{
    padding-top: 10px;
  }
}




